@mixin border($radius, $weight, $type, $color, $background-color) {
          border-radius: $radius;
          border: $weight $type $background-color;
          color: $color;
}

@mixin button-style($height, $color, $background-color) {
          height: $height;
          background: $background-color;
          color: $color;
}

@mixin font($color, $size, $family, $weight) {
    font-family: $family;
    font-size: $size;
    color: $color;
    font-weight: $weight;
}
