@import '_mixins';
@import '_variables';

html, body, div,
ul, p, span {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.main-content {
    background: $document-background !important;
    height: 100vh;
    width: 100vw;
    padding-top: 30px;

    .container {
        .logo-container {
            padding-left: 0;

            .desktop-logo,
            .mobile-logo,
            .logo-text {
                float: left;
            }

            .desktop-logo {
                width: 30%;
            }

            .logo-text {
                line-height: 69px;
                margin-left: 10px;
                @include font($logo-test-color, 35px, Arial, bold);
            }
        }

        .form-container {
            background: $form-background;
            form {
                margin: 30px auto;
                .form-line {
                    margin: 10px 0 0px;

                    label {
                        padding: 0 !important;
                        line-height: 26px;
                        margin-bottom: 0;
                        @include font($form-font-color, 15px, Arial, normal);
                    }

                    input {
                        padding: 0;

                        &.alert-field {
                            @include border(0px, 1px, solid, black, $alert-color);
                        }
                    }
                }
                .validation {
                    margin-top: 10px;
                    line-height: 25px;
                    text-align: center;
                    color: $alert-color;
                }
                .button {
                    margin-top: 10px;
                    @include button-style(25px, $form-background, $submit-background);
                    @include border(0px, 0px, solid, $form-background, $submit-background);
                }

            }
        }
    }
}

@media screen and (max-width: 766px) {
    .main-content {
        .container {
            .logo-container {
                .logo-text {
                    line-height: 110px;
                    @include font($logo-test-color, 30px, Arial, bold);
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .main-content {
        .container {
            .logo-container {
                .logo-text {
                    line-height: 88px;
                    @include font($logo-test-color, 40px, Arial, bold);
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .main-content {
        .container {
            .logo-container {
                .logo-text {
                    line-height: 101.5px;
                    @include font($logo-test-color, 50px, Arial, bold);
                }
            }
        }
    }
}
